# Ignore system files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Datasets (keep small sample files if needed)
data/*.csv
data/*.xlsx
data/*.parquet

# Models (can be very large)
models/*.pkl
models/*.h5
models/*.joblib

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
 
